@import 'App.scss';

.Element, .Element-small {
  display: flex;

  .index {
    width: 50px;
    text-align: right;
    margin-right: $sm;
  }
}

.Element-small {
  align-items: flex-end;

  .index, .content {
    margin-top: $sm/2;
    margin-bottom: $sm/2;
  }
}

.Element {
  display: flex;
  align-items: center;

  p {
    margin-right: $sm;
  }
}

@media only screen and (max-width: 800px) {
  .Element-small {
    align-items: flex-start;
  }
}
