@import 'App.scss';

$header-height: 80px;

$sm: 16px;
$md: 24px;
$lg: 32px;


#Header {
  padding-left: $md;
	width: 100%;
	height: $header-height;
	background: #333;
  display: grid;
  grid-template-columns: 300px 1fr minmax(auto, 1fr);
}

#name {
  position: relative;
  top: -7px;
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
  position: relative;
  top: -7px;
  font-weight: 400;
}

#links {
  grid-column: 3;
  display: flex;
  justify-content: space-between;
}

#LinkItem {
  display: inline-block;
  text-align: center;
  vertical-align: center;
  line-height: $header-height / 1.75;
  color: $white;
  height: $header-height - 4px; // minus the border-top, border-bottom heights
  margin: 0 10px;
  position: relative;
  left: -55px;
}

#LinkItem:hover {
  font-weight: bold;
  font-style: italic;
}
