@import 'App.scss';

* {
	font-family: "Inconsolata";
	color: $main-text-color;
}

hr {
	border: .5px solid #222;
	width: 100%;
	margin: 0 auto;
}

.Home-container {
	width: 90%;
	margin: 3% auto;
}

.tier {
	margin: $md 0;
}

@media only screen and (max-width: 800px) {
  .tier {
		margin: $sm 0;
  }

	.Home-container {
		margin-top: 8vh;
	}
}
