body {
  background: #D6EAFC;
  animation: bkgSwitch 30s ease infinite; }

@keyframes bkgSwitch {
  0% {
    background: #D6EAFC; }
  25% {
    background: #D6FCF2; }
  50% {
    background: #FBFCD6; }
  75% {
    background: #FCEAD6; }
  100% {
    background: #D6EAFC; } }

* {
  font-family: "Avenir Next";
  color: #555; }

hr {
  border: .5px solid #222;
  width: 100%;
  margin: 0 auto; }

.Home-container {
  width: 90%;
  margin: 5% auto; }

.tier {
  margin: 24px 0; }

@media only screen and (max-width: 800px) {
  .tier {
    margin: 16px 0; } }
